<template name="contact">
    <section class="contact">
        <form class="contact--form">
            <h1>Contact</h1><br/>
            Pour signaler des bugs ou nous proposer des modifications ou améliorations au jeu,<br/> veuillez nous laisser un message via le formulaire ci-dessous.<br/><br/>
            <input type="text" name="nom" id="nom" placeholder="Nom" required/>
            <input type="email" name="email" id="email" placeholder="Mail" required/>
            <textarea name="msg" id="msg" placeholder="Message" required></textarea>
            <input type="submit" name="envoyer" value="Envoyer"/>
        </form>
    </section>
</template>
