<template name="main">
    <div class="blockBackground">
    </div>
    <div class="block" style="background: #f8f8f8">
        <h1>Qu'est-ce que le projet FreeRun?</h1>
        <div class="block__content">
            <img src="/picture/runner-icone.png" />
            Le projet FreeRun est un jeu qui vous est présenté par l'équipe TRX. Le jeu est, comme son nom l'indique, basé sur le freerun. En effet, le joueur incarnera un free runner qui devra franchir plusieurs obstacles afin d'atteindre la fin du parcours.
            <br/>Le jeu sera en 3D, car nous voulons que le joueur puisse déplacer le personnage où il veut dans un décor moins restreint qui semble plus réel. De plus, nous avons opté pour un genre de jeu à la troisième personne, permettant un champ de vision plus vaste. Un jeu à la troisième personne permet une visualisation intégrale du personnage.

        </div>
    </div>

    <div class="block">
        <a id="download"><h1>Télécharger</h1></a>
        <div class="block__content" style="text-align: center;">
            <button type="button">Sous OS X</button>
            <button type="button">Sous Windows</button>
        </div>
    </div>
</template>
