<template name="game">
    <div class="block">
        <h1>Synopsis</h1>
        <div class="block__content">
Le personnage principale est un free runner. L'histoire se déroule dans une ancienne ville deserte avec beaucoup de batiments. Le personnage se fait kidnapper et se retrouve dans cette ville où il tente alors de s'échapper. En arrivant en arrivant auprès de la ville, il reconnaît l'hélicoptère de l'équipe de sauvetage survolant les alentours et comprend alors qu'il doit les rejoindre pour pouvoir s'échapper. Son objectif est donc d'atteindre l'hélicoptère, qui se trouve à l'autre bout de la map, afin d'être extrait de l'île pour ne pas se faire rattraper par les kidnappeurs.
        </div>
    </div>
        <div class="block" style="background: #f8f8f8">
            <h1>Avancement du jeu</h1><br/>
            <div class="block--item">
                <h1>12 Mars 2016.</h1>
                La première soutenance étant à l'approche, il serait temps de faire un récapitulatif du progrès réalisé par l'équipe.
                <div class="block--item--list">
                    <br/>Un UI a été créé permettant de naviguer dans les options et les différents niveaux du jeu.<br/>
                    <br/>La premier niveau a été presqu'entièrement réalisé avec le décor et de nombreux obstacles, et une bande sonore a été implémenté permettant une meilleure immersion dans l'univers du jeu.<br/>
                    <br/>Et un personnage pouvant se déplacer et courir a été ajouté, ainsi le premier niveau est maintenant jouable même s'il reste des améliorations à faire.<br/>
                </div>
            </div>
            <div class="block--item">
                <h1>19 Février 2016.</h1>
                L'histoire du jeu a été écrite et les tâches ont été répartit au sein du groupe.
            </div>
            <div class="block--item">
                <h1>17 Février 2016.</h1>
                Création du groupe TRX, avec pour but de vous fournir un jeu hors norme
            </div>
        </div>
        <div class="block">
            <h1>Quelques screens</h1>
            <div class="block__content">
                <img src="http://img15.hostingpics.net/pics/735498Capturedcran20160315150525.png" data-image="http://img15.hostingpics.net/pics/735498Capturedcran20160315150525.png" class="block__content--screen"/>
                <img src="http://img15.hostingpics.net/pics/576742Capturedcran20160315151633.png" data-image="http://img15.hostingpics.net/pics/576742Capturedcran20160315151633.png" class="block__content--screen"/>
                <img src="http://img15.hostingpics.net/pics/940977Capturedcran20160315151818.png" data-image="http://img15.hostingpics.net/pics/940977Capturedcran20160315151818.png" class="block__content--screen"/>
                <img src="http://img15.hostingpics.net/pics/389193Capturedcran20160315151909.png" data-image="http://img15.hostingpics.net/pics/389193Capturedcran20160315151909.png" class="block__content--screen"/>
                <img src="http://img15.hostingpics.net/pics/473061Capturedcran20160315160109.png" data-image="http://img15.hostingpics.net/pics/473061Capturedcran20160315160109.png" class="block__content--screen"/>
                <img src="http://img15.hostingpics.net/pics/835376map1.jpg" data-image="http://img15.hostingpics.net/pics/835376map1.jpg" class="block__content--screen"/>
                <img src="http://img15.hostingpics.net/pics/431702map2.jpg" data-image="http://img15.hostingpics.net/pics/431702map2.jpg" class="block__content--screen"/>
                <br/><img src="http://img15.hostingpics.net/pics/603810map3.jpg" data-image="http://img15.hostingpics.net/pics/603810map3.jpg" class="block__content--screen"/>
                <img src="http://img15.hostingpics.net/pics/558769map4.jpg" data-image="http://img15.hostingpics.net/pics/558769map4.jpg" class="block__content--screen"/>
                <img src="http://img15.hostingpics.net/pics/561108map5.jpg" data-image="http://img15.hostingpics.net/pics/561108map5.jpg" class="block__content--screen"/>
                <img src="http://img15.hostingpics.net/pics/636344map6.jpg" data-image="http://img15.hostingpics.net/pics/636344map6.jpg" class="block__content--screen"/>
                <img src="http://img15.hostingpics.net/pics/218991Capturedcran20160315170916.png" data-image="http://img15.hostingpics.net/pics/218991Capturedcran20160315170916.png" class="block__content--screen"/>
            </div>
        </div>
</template>
